# Python Virtual Environments
venv/
backend/venv/
frontend/venv/
ENV/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env
.env.local

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
